header { 
    display: block;
  }
  ul ul {
    display: none;
}
ul li:hover > ul {
    display: block;
}
ul ul ul {
    margin-left: 300px;
    margin-bottom: 100px;
    top: 0px;
    position: absolute;
    list-style: none;

    
    
}
ul{
    list-style: none;
}
 li {
       
        width: 100px;
        border: 1px solid white;
        border-color: rgba(34, 33, 33, 0.5);
        height: 47px;
        line-height: 50px;
        text-align:center;
        float: left;
      /*  float:inline-start;*/
        bottom: 34px;
        border-bottom: none;
        border-top: none;
        

        color:wheat;
        font-size: 15px;
     
        position: relative;
        

    }
    
    li:hover{
    background-color: rgb(64, 64, 65);
}

ul ul {
    display: none;
    margin: 0%;
    padding: 0%;
   top: 30px;
    list-style: none;
    position: relative;
}
ul ul li {
    background-color: #333;
}
ul li:hover > ul {
    display: block;
}
  

  header
  {
      border-bottom-style: groove;
  
  }
  
  .searchBtn
  {
      width: 50px; height: 50px;
      transform: translate(350px , 10px);
  }
  
  .searchTb
  {
      width:40%;
      height: 30px;
      transform: translate(350px , -10px);
      font-size: 150%;
  }
  
  .logo
  {
      display: inline;
      font-family: cursive;
      font-size: 50px;
      font-style: oblique;
      font-weight: bolder;
      text-shadow: 3px 2px red;
      color: burlywood;
  }
  
  nav
  {
       background-color: #333;
        font-size: 17px;
      padding: 14px 16px;
  }
  
  nav a
  {
      color:white;
      text-decoration: none;
       padding: 14px 16px;
  }
  
  .description
  {
      width: 40%;
      font-family: serif;
      font-size: 30px;
  }	
.photo {
  border: 5px solid ;
  max-width: 100%;
  text-align: center;	
}
.desc {
  padding: 15px;
  text-align: center;
}
.all{
  padding:  6px;
  float: left;
  max-width:auto;
}
.more{
	height:100px;
	width:150px;
	font-size: 30px;
	background-color: #4CAF50
	
}
.fieldHome
{
width:1000px;
}
div img
{
	height: 200px;
	margin-left:100px;
	text-align:center;
}
.last{
	text-align: center;
	height:150px;
	background-color:#777;
	
}